
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Profile</title>

    <link href="bootstrap.css" rel="stylesheet">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">EXTRARA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Forum</a></li>
            <li><a href="#contact">Projects</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/"></a></li>
            <li><a href="../navbar-static-top/"></a></li>
            <li class="active"><a href="./">Profile <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="prof-section">
                    <center>
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10945016_10153123187641320_8033075411764439089_n.jpg?oh=0e25ca16f22bce7daf8bd671f5cc04a7&oe=5605BCA3" name="aboutme" width="140" height="140" border="0" class="prof-image"></a>
                    <h3 class="media-heading">Hi, I'm <%=@user.name%> <small><%=@user.Location%></small></h3>
                    <span><strong>Skills: </strong></span>
                        <%=@user.skills%>
                    </center>
                    
    </div>

     <!--<div class="page-header">
        <h1></h1>
      </div>-->
    <div class="container">  
      <div class="well">
        <p><%=@user.info%></p>
      </div>
<!-- Example row of columns -->

      <div class="row">
         <%if @projects %>
          <%@projects.each do |project|%>
        <div class="col-md-4">
         
          <h2><%=link_to (project.title), project_path(project)%></h2>
          <p><%=project.des%></p>
          <p><a class="btn btn-default" href="/projects/<%=project.id%>" role="button">View details &raquo;</a></p>

        </div>
         <%end%>
        <%end%>

      </div>
      <hr>
 

      <footer>
        <p>&copy; EXTRARA 2015</p>
      </footer>

      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
