
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Proile</title>

    <link href="bootstrap3.min.css" rel="stylesheet" />
    <link href="/stylesheets/gsdk.css" rel="stylesheet"/>
    
    <link href="demo.css" rel="stylesheet" />
    <link href="usercss.css" rel="stylesheet" />
 <link href="bootstrap.css" rel="stylesheet">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </head>

  <body>

    <!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <!--  <a class="navbar-brand navbar-link" href="#"> <img src="assets/img/Extrarablk2.png" height="15"></a>-->
              <%=link_to image_tag("https://s3-us-west-1.amazonaws.com/extrara-images/images/logo/Extrarablk2.png", :class=>"logo"), root_path%>
                <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="/forums/">Discover </a></li>
                    <li role="presentation"><a href="/projects/new">Create </a></li>
                </ul>
                <ul class="nav navbar-nav drop-nav" id="dp-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Profile<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit Profile </a></li>
                            <li><a href="#">Inbox </a></li>
                            <li class="divider"></li>
                            <li><%= link_to 'Sign out!', destroy_user_session_path %>                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%=link_to image_tag("https://s3-us-west-1.amazonaws.com/extrara-images/images/logo/Extrarablk2.png", :class=>"logo"), root_path%>

         <!-- <a class="navbar-brand" href="#">EXTRARA</a> -->
     <!--   </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/forums/">Discover</a></li>
            <li><a href="/projects/new">Create</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/"></a></li>
            <li><a href="../navbar-static-top/"></a></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=current_user.firstname%> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li> <li class="active"> <%=link_to "Profile", user_path(current_user.id)%> <span class="sr-only"></span></li></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a> <%= link_to 'Sign out', destroy_user_session_path %></a>
</a></li>
          </ul>
        </div><!--/.nav-collapse -->
  <!--    </div>
    </nav>-->

    
<div class"container">
    <div class="prof-jumbotron">
         
    </div>

  </div>
  

    <div class="container">


    <div class="prof-photo">
                    
                        <%= image_tag @user.avatar.url(:small) %>
                    
                    
    </div>
    <div class="container">
        <div class="name-container">
          <div class="user-name">Hi, I'm <%=@user.fullname%><br><small></small></div>

      </div>
      <div class="skills-container">
                        <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5</span>
                        <span class="label label-warning">CSS</span>
                        <span class="label label-info">Adobe CC</span>
                        <span class="label label-info">Google</span>
                        <span class="label label-success">OSX</span>
                        <span class="label label-success">iOS</span>
                        <span class="label label-warning">JS</span>
                        <span class="label label-warning">Keynote</span>
                        <span class="label label-info">Entreprenuership</span>
                        

      </div>
          <div class="row">
            <div class="project-card">
                <h3 class="page-header">What I'm Working On:</h3>
            </div>
            <%if @projects %>
          <%@projects.each do |project|%>
          <div class="container">
          <div class="row">
          <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
          <h2><%=link_to (project.title), project_path(project)%></h2>
          <p><%=project.des%></p>

          <p><a class="btn btn-default" href="#" role="button">Explore &raquo;</a></p>
          </div>
       </div>
        <%end%>
        <%end%>
      </div>
    
      <hr>
      <footer>
        <p>&copy; EXTRARA 2015</p>
      </footer>

      </div>














    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
