<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrara</title>

<%= stylesheet_link_tag "bootstrap3.min.css", "gsdk.css", "pe-icon-7-stroke.css","demo.css" %>
<%= javascript_include_tag "jquery.min.js", "bootstrap.min.js" %>
    <link href="bootstrap3.min.css" rel="stylesheet" />
    <link href="gsdk.css" rel="stylesheet"/>
    
    <link href="demo.css" rel="stylesheet" />
    <link href="usercss.css" rel="stylesheet" />

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> 
     <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
    <link href="pe-icon-7-stroke.css" rel="stylesheet" />  
</head>

<body>
    <%=render 'welcome/header'%>
    <div class="jumbotron hero-technology">
        <h1 class="hero-title">Welcome to Extrara</h1>
        <p class="hero-subtitle">Our mission is to change the way the space industry leverages human interconnectivity</p>
        <div class ="buttonstuff hero-subtitle">
            <%=link_to('Create Project', new_project_path,  class: "btn btn-primary btn-lg hero-button hero-subtitle", "data-no-turbolink" => true)%>

        </div>
    </div>

        <!--<div class="page-header">-->

            <div class="section">
           <div class="container">
               <h2 class="section-title">Recent Projects</h2>
               <hr>
               <div class="row">
                <%if @projects %>
                    <%@projects.last(9).reverse.each do |project|%>
                        <%=render 'welcome/card', project: project%>
                    <%end%>
                    <%end%>

                    </div> 
               </div>
           </div>
    </div><!-- section -->

        
        
      <!--FOOTER --> 
        
        <footer class="footer">
            <div class="container">
                <hr>
                <nav class="pull-left">
                    <div class="copyright">
                    &copy; 2016 Extrara Inc
                </div>
                    
                </nav>
                <div class="social-area pull-right">                
                    <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-google-plus-square"></i>
                    </a>
                </div>
               
            </div>
        </footer>
        
    <!--</div>-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>