<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P1 </title>


    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/gsdk.css" rel="stylesheet"/>
    
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link href="assets/css/usercss.css" rel="stylesheet" />

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> 
     <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />  
    <link href="/stylesheets/gsdk.css" rel="stylesheet" /> 
     <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />  

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <%=link_to image_tag("https://s3-us-west-1.amazonaws.com/extrara-images/images/logo/Extrarablk2.png", :class=>"logo"), root_path%>
                <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="#">Discover </a></li>
                    <li role="presentation"><a href="#">Create </a></li>
                </ul>
                <ul class="nav navbar-nav drop-nav" id="dp-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><%=link_to "My Profile", user_path(current_user.id)%>/li>
                            <li><a href="#">Inbox </a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="jumbotron hero-technology">
        
        <h5 class="text-center text-muted hero-title">"The dream of yesterday is the hope of today and the reality of tomorrow." </h5>
        <h6 class="text-center text-muted hero-title">- <strong>Robert Goddard</strong> </h6>
    </div>
    <div class="container">
        <form class="bootstrap-form-with-validation">
            <h2 class="text-center">Start your project</h2>
            <h3 class="text-center text-muted">Extrara Projects allow you to publish your work, validate an idea and seek peer feedback. </h3>
            <hr>
        </form>
        <div class="section">
           <div class="container">
               <!--<h2 class="section-title">Start your project</h2>
                <hr>-->

               <div class="row">
                   <div class="col-md-6">
                       <!--<p>
                           You can contact us with anything related to our Products. We'll get in touch with you as soon as possible.<br><br>
                        </p>-->
                        <%= form_for @project, url: projects_path,:class=>'form-control', :html=> { multipart: true } do |f| %>  
                        <form role="form" id="contact-form" method="post">
                            <div class="form-group">
                                <label for="name">Project Name</label>
                                <%= f.text_field :title, :class=>"form-control", :id=>"name", :placeholder=>"Give it a name. Give it life!" %>

                               <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Give it a name. Give it life!"/>-->
                            </div>
                            <div class="form-group">
                                <label for="email">Short Description</label>
                                <%= f.text_field :subtitle, :class=>"form-control", :id=>"name", :placeholder=>"Simple One Liner"%>
                            </div>
                            <div class="form-group">
                                <label for="message">Larger Description</label>
                                <%= f.text_area :des, :class=>"form-control", :id=>"textarea" %>
                            </div>
                            <div class="submit">
                              <%= f.button :submit, :class=>" btn btn-info btn-fill", :value=>"Create" %>
                               
                            </div>
                        </form>
                        <%end%>
                   </div>
                   <div class="col-md-6">
                        <!-- Nav tabs -->
                        <div class="tim-title">
                            <br>
                        </div>
                        <ul class="nav nav-icons" role="tablist">
                          <li class="active">
                            <a href="#smart-vertical-logo" role="tab" data-toggle="tab">
                                 <i class="fa fa-lightbulb-o"></i><br> 
                                 Smart Area
                            </a>
                          </li>
                          <li>
                            <a href="#map-vertical-logo" role="tab" data-toggle="tab">
                                <i class="fa fa-map-marker"></i><br>
                                Location
                            </a>
                          </li>
                          <li>
                            <a href="#legal-vertical-logo" role="tab" data-toggle="tab">
                                <i class="fa fa-legal"></i><br>
                                Legal Info 
                            </a>
                          </li>
                          <li>
                           <a href="#help-vertical-logo" role="tab" data-toggle="tab">
                                <i class="fa fa-life-ring"></i><br>
                                Help Center
                           </a>
                          </li>
                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="smart-vertical-logo">
                                  <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display. It’s one continuous form where hardware and software function in perfect unison, creating a new generation of phone that’s better by any measure.</p>
                            </div>
                            <div class="tab-pane" id="map-vertical-logo">
                                <p>The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design. There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one continuous surface.</p>
                             </div>
                             <div class="tab-pane" id="legal-vertical-logo">
                                 <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display. </p>
                                 <p> Just a smooth, seamless bond of metal and glass that feels like one continuous surface. </p>
                              </div>
                              <div class="tab-pane" id="help-vertical-logo">
                                <p>From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.</p>
                              </div>
                        </div>
                    </div> <!-- end col-md-6 -->
               </div>
           </div>
    </div><!-- section -->
    <!--FOOTER --> 
        <hr>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <div class="copyright">
                    &copy; 2014 Extrara Inc
                </div>
                    
                </nav>
                <div class="social-area pull-right">                
                    <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-google-plus-square"></i>
                    </a>
                </div>
               
            </div>
        </footer>
        
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>