<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login Page</title>
  <meta name="description" content="Login Page">
  <meta name="author" content="SitePoint">

<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/extrara-assets/css/login.css">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <form class="login">
                <%= f.text_field :email, autofocus: true, placeholder: "email" %>

                <%= f.password_field :password, autocomplete: "off",  placeholder: "password" %>

                <%= f.submit "Sign in" %>

                 <% if devise_mapping.rememberable? -%>
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                     <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>

                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div>
                 <% end -%>
<%end%>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
