<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Log in</title>
  <meta name="description" content="Login Page">
  <meta name="author" content="SitePoint">

<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link href="bootstrap.css" rel="stylesheet">
</head>

<body class="sign">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remeber_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
