<!DOCTYPE html>
<html>
<head>
  <title>Extrara</title>
  <link rel="shortcut icon" href="http://i.imgur.com/vDxcF1P.png">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <% if controller_name == "static"%>
     <%= stylesheet_link_tag 'bootstrap.min'%>
     <%= stylesheet_link_tag 'grayscale'%>
     <%= stylesheet_link_tag 'font-awesome.min'%>
     <%= javascript_include_tag "welcome" %>
     <%= javascript_include_tag "common" %>
     <%= javascript_include_tag "grayscale" %>
	 <%= javascript_include_tag "main" %>
	 <%= javascript_include_tag "stats" %>
	 <%= javascript_include_tag "util" %>
	

  <% end %>
  <% if controller_name!="static"%> 
 	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	 <%= csrf_meta_tags %>
<%end%>
  <% if controller_name == "static" && action_name == "index" %>
     <%= stylesheet_link_tag "staticindex" %>
     <%= stylesheet_link_tag "staticindex2" %>
     <%= javascript_include_tag "welcome" %>
     <%= javascript_include_tag "common" %>
     <%= javascript_include_tag "grayscale" %>
	 <%= javascript_include_tag "main" %>
	 <%= javascript_include_tag "stats" %>
	 <%= javascript_include_tag "util" %>

  <% end %>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5FWHTC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FWHTC');</script>
<!-- End Google Tag Manager -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1044750408868928',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<%= yield %>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</body>
</html>
